<%= form_for(@image_test, :html => {:multipart => true}) do |f| %>
  <% if @image_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_test.errors.count, "error") %> prohibited this image_test from being saved:</h2>

      <ul>
      <% @image_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.image_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
