<h1>Listing image_tests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @image_tests.each do |image_test| %>
  <tr>
    <td><%= image_test.name %></td>
    <td><%= image_test.image %></td>
    <td><%= link_to 'Show', image_test %></td>
    <td><%= link_to 'Edit', edit_image_test_path(image_test) %></td>
    <td><%= link_to 'Destroy', image_test, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image test', new_image_test_path %>
