<%= form_for(@multiple, :url =>{ :action => (@multiple.new_record? ? 'create' : 'update')}, :html => { :multipart => true }) do |f| %>
  <% if @multiple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multiple.errors.count, "error") %> prohibited this multiple from being saved:</h2>

      <ul>
      <% @multiple.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :confirm %><br />
    <%= f.collection_select :confirm_id, Confirm.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :banner1 %><br />
    <%= f.image_field :banner1 %>
  </div>
  <div class="field">
    <%= f.label :banner2 %><br />
    <%= f.image_field :banner2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
