<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @multiple.title %>
</p>

<p>
  <b>Confirm:</b>
  <%= @multiple.confirm.try(:name) %>
</p>

<p>
  <b>Banner1:</b>
  <%= @multiple.banner1 %>
</p>

<p>
  <b>Banner2:</b>
  <%= @multiple.banner2 %>
</p>


<%= link_to 'Edit', edit_confirm_multiple_path(@confirm, @multiple) %> |
<%= link_to 'Back', confirm_multiples_path %>
