<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @multiple.title %>
</p>

<p>
  <b>Confirm:</b>
  <%= @multiple.confirm.try(:name) %>
</p>

<p>
  <b>Photos:</b>
  <%= @multiple.photos %>
</p>


<%= link_to 'Edit', edit_multiple_path(@multiple) %> |
<%= link_to 'Back', multiples_path %>
