<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @multiple.title %>
</p>

<p>
  <b>Banner1:</b>
  <%= @multiple.banner1 %>
</p>

<p>
  <b>Banner2:</b>
  <%= @multiple.banner2 %>
</p>


<%= link_to 'Edit', edit_multiple_path(@multiple) %> |
<%= link_to 'Back', multiples_path %>
